@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;600;800&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'work Sans';
}

html{
    /*Permite deslizar cuando hago clic en los links del menu*/
    scroll-behavior: smooth;
}

.container-header{
    background-color: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.container-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;

}

.container-header header .logo a{
    font-family: 'Righteous';
    font-size:36px;
    color: #1cb698;
    text-decoration: none;
}

.container-header ul{
    display: flex;
    list-style: none;
}

.container-header a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.container-header a:hover{
    color: #1cb698;
}

/*Responsive*/
.nav-responsive{
    background-color: #1cb698;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/*Seccion I N I C I O*/

.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenido-banner img{
    margin-top: 40px;
    display: block;
    width: 80%;
    margin: auto;
}

.inicio .contenido-banner h1{
    margin-top: 20px;
    font-size: 42px;
    font-family: 'Righteous';
}

.inicio .contenido-banner h2{
    font-size: 20px;
    font-family: 'normal';
}

.inicio  .redes a{
    color: #fff;
    display: inline-block;
    font-family: 'normal';
    text-decoration: none;
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 10px;
    
}

.inicio .redes a:hover{
    background-color: #1cb698;
}

/*Seccion S O B R E  M I*/

.sobremi{
    background-color: #202629;
    color: #fff;
    padding: 50px 20px;
}

.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 15px 0;
}

.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenido-seccion p span{
    color: #1cb698;
    font-weight: bold;
}

.sobremi .fila{
    display: flex;
}
.sobremi .fila .col{
    width: 50%;
    margin-top: 50px;
}

.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 15px;
}

.sobremi .fila .col ul{
    list-style: none;
}

.sobremi .fila .col ul li{
    margin: 12px 0px;
}

.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #1cb698;
    padding: 0 20px;
}

.sobremi .fila .col ul li span{
    background-color: #1cb698;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .col .container-intereses{
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col .container-intereses .interes{
    width: 150px;
    height: 100px;
    background-color: #242a2d;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;

}

.sobremi .fila .col .container-intereses .interes:hover{
    background-color: #1cb698;
}

.sobremi button{
    cursor: pointer;
    background-color: #1e2326;
    border: 2px solid #fff;
    border-radius: 10px;
    width: fit-content;
    display: block;
    margin: 10px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #1cb698;
    border-radius: 7px;
    z-index: -1;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobremi button:hover .overlay {
    width: 100%;
}

/*Seccion S K I L L S */

.skills{
    background-color: #1e2326;
    color: #fff;
    padding: 60px 20px;
    
}

.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.skills .fila{
    display: flex;
}

.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 50px;
    text-align: center;
}
.skills .fila .col .container-skills {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.skills .fila .col .container-skills .skill{
    width: 150px;
    height: 150px;
    background-color: #242a2d;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    transition: .3s;
    padding: 10px;
}

.skills .fila .col .skill img{
    max-width: 100px;
    padding: 10px 0 5px 0;
}

.skills .fila .col ul li{
    padding: 10px;
    font-size: 20px;
}

/*SECCION C U R R I C U L U M*/
.cv{
    background-color: #242a2d;
    color: #fff;
    padding: 60px 20px;
    
}

.cv .contenido-seccion{
    max-width: 1100px;
    margin: auto;
    
}

.cv  h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.cv  .fila{
    display: flex;
    text-align: justify;
}

.cv .fila .col{
    width: 49%;
}

.cv .fila .col .item{
    padding: 20px;
    margin: 10px 20px;
    background-color: #1e2326;
    border-radius: 10px;
}

.cv  .fila .col .item .fecha{
    color: #1cb698;
    display: block;
}

.cv  .fila .col .item .lugar{
    color: #1cb698;
    font-weight: bold;
}

/*SECCION P O R T A F O L I O*/
.portafolio{
    background-color: #242a2d;
    color: #fff;
    padding: 60px 20px;
    
}

.portafolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
    
}

.portafolio .contenido-seccion h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.portafolio .contenido-seccion .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portafolio .galeria .proyecto{
    position: relative;
    max-width: 400px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portafolio .galeria .proyecto img{
    width: 100%;
    display: block;
    border-radius: 20px;
}

.portafolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28,182,152,.8), rgba(28,182,152,.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}


.portafolio .galeria .proyecto .overlay:hover{
    opacity: 1;
    
}
.portafolio .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}


.portafolio .galeria .proyecto .overlay h3:hover{
    margin-bottom: 0px;
}

/*SECCION C O N T A C T O*/
.contacto{
    background-color: #202629;
    color: #fff;
    padding: 50px 20px;
    
}

.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto ;
}

.contacto  h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.contacto  .fila{
    display: flex;
}

.contacto  .col {
    max-width: 50%;
    padding: 10px;
    position: relative;
    
}



.contacto .col input, .contacto .col textarea{
    display: inline-block;
    width: 100%;
    padding: 18px ;
    border: none;
    margin-bottom: 20px;
    background-color: #31373a;
    color: #fff;
    font-size: 18px;
}

.contacto  button{
    cursor: pointer;
    background-color: #1e2326;
    border: 2px solid #fff;
    border-radius: 10px;
    width: fit-content;
    display: block;
    margin: 10px auto;
    padding: 10px 22px;
    font-size: 20px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.contacto .col img{
    width: 100%;
}

.contacto .fila .col  h3{
    font-size: 20px;
    text-align: center;
}


.contacto .col .informacion{ 
    position: absolute;
    top: 20%;
    background-color: #252a2e;
    padding: 10px;
    width: fit-content;
    left: 25%;
    border-radius: 10px;
    text-align: center;
}

.contacto .col ul li{
    margin: 20px;
    list-style: none;
    text-align: center;

}

footer{
    background-color: #252a2e;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
    }
    
    footer .redes{
        margin-bottom: 20px;
    }
    
    footer .redes a {
        color: #fff;
        display: inline-block;
        text-decoration: none;
        margin: 5px 10px 0px 10px;
        width: 42px;
        height: 42px;
        line-height: 42px;
        border-radius: 10px;
    }
    
    footer .arriba{
        display: block;
        width: 50px;
        height: 50px;
        background-color: #1cb698;
        color: #fff;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -25px;
        border-radius: 50px;
        line-height: 50px;
        font-size: 18px;
    }

    /*SECCION R E S P O N S I V E*/

@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block;

    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
    
}

@media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }

    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }

    .portfolio .galeria{
        display: block;
        width: 100%;
    } 
    .portfolio .galeria .proyecto{
        max-width: 100%;
    }
    .portfolio .galeria .proyecto img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        max-width: 100%;
    }

    .contacto .col .informacion{ 
        left: 15%;
    }
    
}
    
     
